<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

 <% if @user.errors.any? %>
   <div id="error_explanation" class="alert alert-danger">
    <ul>
     <% @user.errors.full_messages.each do |message| %>
      <li><%= message + "error" %></li>
     <% end %>
    </ul>
   </div>
 <% end %>

 <div class="body">
  <div class="container">
  <div class="row">
	    <div id="nav navbar-nav navbar-left">
	    <h2>User info</h2>
	     <%= form_with model: @user,local:true do |f| %>
        <div class="col-xs-12">
           <div class="field">
              <label>Name</label>
              <%= f.text_field :name%>
            </div>
            <div class="field">
              <label>Image</label>
              <%= f.attachment_field :profile_image, placeholder: "プロフィール画像", class: "user-edit-form" %>
            </div>
            <div class="field">
              <label>Introduction</label>
              <%= f.text_area :introduction %>
            </div>
              <%= f.submit 'Update User' %>
          </div>
       <% end %>
    </div>
   </div>
  </div>
 </div>

